* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: #fce7f3;
      color: #243b53;
    }

    header {
      background: #8ecae6;
      padding: 20px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header h1 {
      color: #ffffff;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin-left: 20px;
      font-weight: bold;
    }

    nav a:hover {
      color: #ff69b4;
    }

    .card {
            background: rgba(255, 255, 255, 0.8);
            width: 80%;
            max-width: 600px;
            margin: 0 auto 50px;
            padding: 30px;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        }

        .card h2 {
            color: #e85d8c;
            margin-bottom: 10px;
        }

    .hero {
      min-height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 30px;
    }

    .hero-content {
      max-width: 600px;
    }

    .hero h2 {
      font-size: 50px;
      color: #e75480;
      margin-bottom: 15px;
    }

    .hero p {
      font-size: 18px;
      color: #526777;
      margin-bottom: 25px;
    }

    .button {
      display: inline-block;
      background: #e75480;
      color: white;
      padding: 12px 25px;
      border-radius: 25px;
      text-decoration: none;
      transition: 0.3s;
    }

    .button:hover {
      background: #5dade2;
    }

    footer {
      background: #5dade2;
      color: white;
      text-align: center;
      padding: 15px;
    }