body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #071a33;
    color: white;
}



header {
    background-color: #0b2d52;
    text-align: center;
    padding: 35px;
}

header h1 {
    color: #4dc3ff;
    font-size: 40px;
    margin-bottom: 10px;
}

header p {
    color: #d9f3ff;
    font-size: 18px;
}




nav {
    background-color: #061426;
    text-align: center;
    padding: 15px;
}

nav a {
    color: #4dc3ff;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: white;
}




section {
    padding: 40px 10%;
}

h2 {
    color: #4dc3ff;
    border-bottom: 2px solid #4dc3ff;
    padding-bottom: 10px;
}




.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #0d3158;
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px #00000055;
}

.card h3 {
    color: #63d5ff;
}

.card p {
    line-height: 1.5;
}




.info-box {
    background-color: #0b2442;
    padding: 25px;
    border-radius: 10px;
    line-height: 1.7;
}




.safety-box {
    background-color: #0d3158;
    border-left: 5px solid #4dc3ff;
    padding: 25px;
    border-radius: 10px;
}

.safety-box li {
    margin-bottom: 10px;
}

.warning {
    color: #ffd166;
    font-weight: bold;
}


.references {
    background-color: #0b2442;
    padding: 20px;
    border-radius: 10px;
}

.references a {
    color: #63d5ff;
}

.references a:hover {
    color: white;
}



footer {
    background-color: #030b16;
    text-align: center;
    padding: 20px;
    color: #9cc7dc;
}


@media (max-width: 600px) {

    header h1 {
        font-size: 30px;
    }

    nav a {
        display: block;
        margin: 10px;
    }

    section {
        padding: 25px;
    }

    .card {
        width: 100%;
    }
}
